# Firmware for local wasm demos is not committed — except the public demos below, whose code is
# ours (hello_world from ESP-IDF, the Touch-LCD-4B panel built with placeholder secrets) and the manifests that describe them. The Atech Pocket Synth demo
# is held back pending Atech's answer on their driver-module license (asked 2026-08-28).
# The mask ROM ELF (Apache-2.0, espressif/esp-rom-elfs) is fetched by the Pages workflow.
*
!.gitignore
!README.md
!demos.json
!hello.json
!panel.json
!panel-sid.json
!public/
!public/*
